<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.circler.api.mapper.DBInstanceMapper">

    <insert id="insertOne" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into db_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="host != null">host,</if>
            <if test="port != null">port,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="kind != null">kind,</if>
            <if test="description != null">description,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="createdUser != null">created_user,</if>
            <if test="modifiedDate != null">modified_date,</if>
            <if test="modifiedUser != null">modified_user,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="host != null"> #{host},</if>
            <if test="port != null"> #{port},</if>
            <if test="username != null"> #{username},</if>
            <if test="password != null"> #{password},</if>
            <if test="kind != null"> #{kind},</if>
            <if test="description != null"> #{description},</if>
            <if test="createdDate != null"> #{createdDate},</if>
            <if test="createdUser != null"> #{createdUser},</if>
            <if test="modifiedDate != null"> #{modifiedDate},</if>
            <if test="modifiedUser != null"> #{modifiedUser},</if>
        </trim>
    </insert>
    <update id="updateById">
        update db_instance
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="host != null">
                host = #{host},
            </if>
            <if test="port != null">
                port = #{port},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="kind != null">
                kind = #{kind},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate},
            </if>
            <if test="createdUser != null">
                created_user = #{createdUser},
            </if>
            <if test="modifiedDate != null">
                modified_date = #{modifiedDate},
            </if>
            <if test="modifiedUser != null">
                modified_user = #{modifiedUser},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectListBy" resultType="com.circler.api.entity.DBInstancePO">
        select
        *
        from db_instance di
        <where>
            <if test="id !=null">
                di.id = #{id}
            </if>
        </where>
    </select>
</mapper>
